/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

img {
    width: 100%;
    height: auto;
}

.fade {
    animation: fade 2s ease-in-out infinite;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}